$background-color: white;
$gray-bg-color: #f9f9f9;
$title-color: black;
$text-color: #767676;
$header-color: #6B8E23;
$blackish: #2d2e32;

$darkMode-background-color: #1b1b1b;
$darkMode-title-color: white;
$darkMode-text-color: #a2a2a2;
$darkMode-header-color: #6B8E23;
$darkMode-blackish: #dbdbdb;
